@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*font-family: 'Josefin Sans', sans-serif;*/
/*font-family: 'Roboto', sans-serif;*/
/*font-family: 'Roboto Mono', monospace;*/

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        --color-fg-default: #c9d1d9;
        --color-fg-muted: #8b949e;
        --color-fg-subtle: #6e7681;
        --color-canvas-default: #0d1117;
        --color-canvas-subtle: #161b22;
        --color-border-default: #30363d;
        --color-border-muted: #21262d;
        --color-neutral-muted: rgba(110,118,129,0.4);
        --color-accent-fg: #58a6ff;
        --color-accent-emphasis: #1f6feb;
        --color-attention-subtle: rgba(187,128,9,0.15);
        --color-danger-fg: #f85149;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        color-scheme: light;
        --color-fg-default: #24292f;
        --color-fg-muted: #57606a;
        --color-fg-subtle: #6e7781;
        --color-canvas-default: #ffffff;
        --color-canvas-subtle: #f6f8fa;
        --color-border-default: #d0d7de;
        --color-border-muted: hsla(210,18%,87%,1);
        --color-neutral-muted: rgba(175,184,193,0.2);
        --color-accent-fg: #0969da;
        --color-accent-emphasis: #0969da;
        --color-attention-subtle: #fff8c5;
        --color-danger-fg: #cf222e;
    }
}


:root {
    --color-primary: #0d6efd;
    --color-secondary: #6c757d;
    --color-tertiary: #6c757d;
    --color-neutral: #6c757d;

    --color-success: #198754;
    --color-info: #0dcaf0;
    --color-warning: #ffc107;
    --color-danger: #dc3545;

    --color-font-primary: #f8f9fa;
    --color-font-secondary: #f8f9fa;
    --color-font-tertiary: #f8f9fa;


    --color-bg: #fff;

    --font-primary: 'Josefin Sans', sans-serif;
    --font-secondary: 'Roboto', sans-serif;
    --font-tertiary: sans-serif;
    --font-monospace: 'Roboto Mono', monospace;
}

:root {
    --tp-base-background-color: hsla(0, 0%, 10%, 0.8);
    --tp-base-shadow-color: hsla(0, 0%, 0%, 0.2);
    --tp-button-background-color: hsla(0, 0%, 80%, 1);
    --tp-button-background-color-active: hsla(0, 0%, 100%, 1);
    --tp-button-background-color-focus: hsla(0, 0%, 95%, 1);
    --tp-button-background-color-hover: hsla(0, 0%, 85%, 1);
    --tp-button-foreground-color: hsla(0, 0%, 0%, 0.8);
    --tp-container-background-color: hsla(0, 0%, 0%, 0.3);
    --tp-container-background-color-active: hsla(0, 0%, 0%, 0.6);
    --tp-container-background-color-focus: hsla(0, 0%, 0%, 0.5);
    --tp-container-background-color-hover: hsla(0, 0%, 0%, 0.4);
    --tp-container-foreground-color: hsla(0, 0%, 100%, 0.5);
    --tp-groove-foreground-color: hsla(0, 0%, 0%, 0.2);
    --tp-input-background-color: hsla(0, 0%, 0%, 0.3);
    --tp-input-background-color-active: hsla(0, 0%, 0%, 0.6);
    --tp-input-background-color-focus: hsla(0, 0%, 0%, 0.5);
    --tp-input-background-color-hover: hsla(0, 0%, 0%, 0.4);
    --tp-input-foreground-color: hsla(0, 0%, 100%, 0.5);
    --tp-label-foreground-color: hsla(0, 0%, 100%, 0.5);
    --tp-monitor-background-color: hsla(0, 0%, 0%, 0.3);
    --tp-monitor-foreground-color: hsla(0, 0%, 100%, 0.3);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--color-bg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

    overflow: hidden;

    font-family: var(--font-secondary);
    color: #272727;
}

main {
    width: 100%;
    height: 100vh;
    position: fixed;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
    z-index: 0;
}

#ThreeCanvas {
    width: 100vw;
    height: 100vh;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

main::-webkit-scrollbar {
    display: none;
}

main {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

section {
    width: 100%;
    height: 100vh;
	scroll-snap-align: start;
}

.progress-bar {
    position: fixed;
    right: 2vw;
    background-color: white;
    height: 100vh;
    width: 5px;
}

.progress-bar .progress {
    position: fixed;
    background-color: gray;
    height: 0;
    width: 5.8px;
}

.grid-container {
    width: 100%;
    height: 100vh;
    display: grid;

    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: minmax(0, 1fr);
    grid-template-areas:
        'left middle right'
        'left middle right'
        'left middle right';

    pointer-events: none;
}

.grid-left{
    grid-area: left;
}

.grid-middle{
    grid-area: middle;
}

.grid-right{
    grid-area: right;
}


.grid-item {
    position: relative;
    padding: 1rem;
    z-index: 1;
}

.grid-item h1,
.grid-item h2,
.grid-item h3,
.grid-item h4,
.grid-item h5,
.grid-item h6,
.grid-item p,
.grid-item img,
.grid-item a,
.grid-item i
{
    pointer-events: all;
}

.logo {
    width: clamp(100px, 15vw, 250px);
    filter: invert(1);
}

header ul {
    width: clamp(100px, 15vw, 250px);
    position: absolute;
    bottom: 15vh;
    left: 0;
}

footer ul {
    position: absolute;
    bottom: 0;
    left: 0;
}

footer p {
    font-size: clamp(0.1vw, 0.5vw, 2vw);
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: gray;
}

section h1 {
    font-family: var(--font-primary);
    font-size: 2.9vw;
    font-weight: normal;
    text-align: center;
    margin-top: 12vh;
}

section p {
    font-size: 1vw;
    text-align: justify;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;

}

.wrapper-main p {
    margin-top: 52vh;
    padding-left: 5rem;
    padding-right: 5rem;
    line-height: 1.4rem;
}

.wrapper-main .icons {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* 'sm' applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}

/* 'md' applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

}

/* 'lg' applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .grid-container {
        grid-template-columns: minmax(0, 1fr);
        grid-template-rows: minmax(0, 0.1fr) minmax(0, 0.8fr) minmax(0, 0.1fr);
        grid-template-areas:
            'left left left'
            'middle middle middle'
            'right right right'
    }

    .grid-item {
        width: 100vw;
    }

    footer,
    .progress-bar,
    .progress,
    header > ul {
        display: none;
    }

    section h1 {
        margin-top: 0vh;
    }

    .wrapper-main p {
        margin-top: 45vh;
    }

}

/* 'xl' applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

}

/* 'xxl' applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {

}
