@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

h1,h2,h3{
    font-family: "Inter", sans-serif;
}
h4,h5,h6{
    font-family: "Bree Serif", serif;
}
